[Desktop Entry]
Encoding=UTF-8
Name=ZiosCoin
Comment=ZiosCoin P2P Cryptocurrency
Exec=zioscoin-qt %u
Terminal=false
Type=Application
Icon=zioscoin128
MimeType=x-scheme-handler/zioscoin;
Categories=Office;Finance;
Name[en_US]=zioscoin-qt.desktop
